@font-face {
  font-family: 'KBO-Dia-Gothic_bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@media screen and (min-width:375px) and (max-width:390px) {
header{
  font-family: 'KBO-Dia-Gothic_bold';
  width:100%;
  max-width: 100%;
}

.nav_sub{
  height: 59px;
  width: 375px;
  border-bottom: 2px solid #f0f0f0;
  margin: auto;
}

.nav_sub ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.nav_sub ul li{
margin: 15px;
}
.nav_sub ul li img{
  cursor: pointer;
}
}